#container-total {
    display: 'flex';
    position: 'relative';
    margin: '0 auto';
    border: '2px solid black';
    flex-direction: 'column';
    align-Items: 'center';
}
#reload{
    display: 'flex';
    position: 'absolute'; 
    width: '50px';
    right: '10px';
    top: '10px';
}

.spans{
    border: '2px solid'; 
    padding: '7px 45px'; 
    border-radius: '5px';
}

.operacoes{
    display: 'flex'; 
    flex-direction: 'row'; 
    gap: '20px'; 
    align-items: 'center';
}
.imgAdiçãoSub{
    width: '50px'
}
.imgCasal{
    width: '200px';
}

#containerCasal{
    display: 'flex';
}

.containerHomemMulher{
    display: 'flex', ;
    flex-direction: 'column';
    align-items: 'center';
}